---
import Card from "@/components/Card.astro";
import { useTranslations } from "@/i18n";
import RootLayout from "@/layouts/RootLayout.astro";

const t = useTranslations();

const projectsData = [
  {
    title: "Faviconizer",
    description: `Faviconizer is a simple tool that allows you to create a favicon for your website.`,
    imgSrc:
      "https://www.faviconizer.com/_app/immutable/assets/logo-image.Ce8oJPVb.jpg",
    href: "https://www.faviconizer.com",
  },
  {
    title: "Caffeine Clock",
    description: `Caffeine Clock is a caffeine tracker app that helps you see how long caffeine stays in your system.`,
    imgSrc:
      "https://play-lh.googleusercontent.com/ZbcmlPmix7NBMQ4oV6C1N90a_Wx_z_4y0Jc4nmu8mnVIA-1CDN8coGMnN-anr9gf3w=w5120-h2880-rw",
    href: "https://play.google.com/store/apps/details?id=com.AWSoft.CaffeineClock",
  },
];
---

<RootLayout
  title={t("pages.projects.title")}
  description={t("pages.projects.description")}
>
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {t("pages.projects.allProjects")}
      </h1>
      <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
        {t("pages.projects.showcase")}
      </p>
    </div>
    <div class="container py-12">
      <div class="-m-4 flex flex-wrap">
        {
          projectsData.map((d) => (
            <Card
              title={d.title}
              description={d.description}
              imgSrc={d.imgSrc}
              href={d.href}
            />
          ))
        }
      </div>
    </div>
  </div>
</RootLayout>
