---
import {SITE_METADATA} from '@/consts'
import { useTranslations } from '@/i18n';
import Link from "./Link.astro";

const t = useTranslations();
---

<footer>
    <div class="mt-16 flex flex-col items-center">
        <div class="mb-2 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
            <div>{` • `}</div>
            <div>{`© ${new Date().getFullYear()}`}</div>
            <div>{` • `}</div>
            <Link href="/">{t('siteMetadata.title')}</Link>
        </div>
        <div class="mb-8 text-sm text-gray-500 dark:text-gray-400">
            <Link href={SITE_METADATA.siteRepo}>
                {t('siteMetadata.title')} {` is open source. `}
                {` View `}
                <span class="underline">the source</span>
                {` code on `}
                <span class="underline">GitHub</span>
                {` and `}
                <span class="underline">give it a star</span>
                {` if you like it.`}
            </Link>
        </div>
    </div>
</footer>
