---
import { NAVIGATION } from "@/consts";
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import MobileNav from "@/solid/MobileNav.tsx";
import ThemeSwitcher from "@/solid/ThemeSwitcher.tsx";
import { useTranslations } from "@/i18n";
import Link from "./Link.astro";
import avatar from "@/assets/images/avatar.jpg";

const t = useTranslations();
---

<header class="flex items-center justify-between py-4">
  <div class="mr-3 px-2 md:w-auto">
    <Link href="/" class="flex items-center gap-2">
      <Image src={avatar} alt="Antonín Wingender" width={36} height={36} class="rounded-full" />
      <h2 class="text-2xl font-bold">Antonín Wingender</h2>
    </Link>
  </div>
  <div class="flex items-center leading-5 space-x-4 sm:space-x-6">
    {
      NAVIGATION.filter((link) => link.href !== "/").map((link) => (
        <HeaderLink
          href={link.href}
          class="hidden sm:block font-medium text-gray-900 dark:text-gray-100"
        >
          {t(link.title)}
        </HeaderLink>
      ))
    }
    <div class="flex gap-4">
      <!-- <SearchButton /> -->
      <MobileNav client:only="solid-js" />
    </div>
  </div>
</header>
