---
import { cn } from "@/lib/utils";
---

<h1
  {...Astro.props}
  class={cn(
    "text-3xl font-extrabold leading-9 tracking-tight text-gray-900",
    "dark:text-gray-100",
    "sm:text-3xl sm:leading-10",
    "md:text-4xl md:leading-14",
    Astro.props.class
  )}
>
  <slot />
</h1>
