---
import { type CollectionEntry, getEntry } from "astro:content";
import { cn } from "@/lib/utils";

interface Props {
  tagId?: string;
}

const { tagId } = Astro.props;

if (!tagId) {
  throw new Error("tagId is required");
}

const tag = await getEntry("tags", tagId);

if (!tag) {
  throw new Error(`Tag with id ${tagId} not found`);
}
---

<span
  class={cn(
    "bg-gray-100 text-gray-800 border border-gray-300 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-xl",
    "dark:bg-gray-700 dark:text-gray-300"
  )}
>
  {tag.data.name}
</span>
